.login_box {
    text-align: center;
    border: solid 1px darkgray;
    width: 20rem;
    height: 22rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
}

